.container{
    overflow-y: scroll;
    height:1000px ;

}
.title-container{
    display: flex;
    justify-content: center;
}
.title-wrap{
    height: 50px;
    min-width: 1200px;
}
.title-head{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}
.title-description{
    font-size: 12px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -10px;
}
.heading-title{
    
    font-weight: 500;
    margin-left: 20px;
    color:rgba(0, 0, 0, 0.6);
    margin-top:3vh ;
    margin-bottom: 5px;
}
.heading-title.result1{
    font-size: 28px;
    display: block;
    margin: 20px;
}
.body-container{
    display: flex;
    justify-content: center;
    background-color: #f0f4f6;
}

.body-wrap{
    margin: 20px;
    display: grid;
    min-height: 720px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 1200px;
    max-width: 1200px;

}

.selectRecipe-box{
    display: grid;
    background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    min-height: 200px;
    border-radius: 10px;


}
.selectRecipe-title{
}
.selectRecipe-select{
    margin-top: -20px;
    border-radius: 10px;
    margin-inline:20px ;
    height: 40px;
    grid-row: 2;
    border: 1px solid  rgba(172, 172, 172, 0.8);
    background: rgba(255, 255, 255, 0.3);

    
}
.inputAmount-title{
    margin-top: -10px;
}
.inputAmount-box{
    margin-top: -35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: 10px;

}
.inputAmount{
    border: 1px solid  rgba(172, 172, 172, 0.8);
    padding-left: 20px;
    margin-inline: 10px;
    width: 220px;
    height: 30px;
    border-radius: 10px;

}
.submitButton{
    width: 80px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid  rgba(172, 172, 172, 0.8);
}
.submitButton:active {
  transform: scale(0.97);
}
.submitButton:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}
.recipe-box{
    margin-top: 10px; 
    background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-height: 300px;
    display: grid;
    grid-column: 1;
    grid-row: 2 /span 5;
    grid-template-rows: repeat(18,1fr);
}
.simple-list{
    grid-row: 2 /span 5;
    margin-inline: 20px;
    margin-top: 10px;

}
.result-box{
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(7,1fr);
    max-height: 200px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: grid;
    grid-column: 2 /span 3;
    grid-row: 1 /span 2;

}.result-title{
    grid-column: 1 /span 2;

}
.recipe-name{
    margin-top: -1px;
    font-size: 11px;
    grid-column: 1 /span 2;
    grid-row: 2;
    color: green;
}
.manufacture-title{
    grid-row: 3;
    margin-top: 10px;
}
.manufacture-box{
    grid-column: 1 /span 2;
    grid-row: 4;
    display: flex;
}
.manufacture-amount{
    margin-top: -1px;
    grid-column: 1;
    grid-row: 4;
    font-size: 34px;
}
.manufacture-text{
    align-content: center;
    margin-top: -1px;
    grid-column: 2;
    grid-row: 4; 
}
.verticle-line2{
    margin-left: 100px;
    border-left: 3px solid  #f0f4f6;
    grid-row: 3 span/6;
 
}

.cost-title{
    grid-row: 3;
    grid-column: 5;
     margin-top: 10px;
}
.cost-box{
    grid-column: 5 /span 2;
    grid-row: 4;
    display: flex;
    width: 200px;
}
.cost-amount{
     margin-top: -1px;
    grid-row: 4;
    grid-column: 5;
    font-size: 34px;
}
.cost-text{
    align-content: center;
    margin-top: -1px;
    grid-column: 5;
    grid-row: 4; 
}

.details-box{   
    margin-top: 10px;
    margin-left: 20px;
    display: grid;
    grid-column: 2 /span 3;
    grid-row: 2 /span 6;
}
