.content{
    
}
.title-container{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-left:22vh ;
    margin-right:25vh ;

    
}
.title {
    font-size: 18px !important;
    font-weight: 600;
    margin-left: 20px;
    color:rgb(0, 0, 0);
    margin-top:3vh ;
    margin-bottom: 5px;
}
.result1{
    display: block;
    margin: 0;
}
.underLine{
    margin-inline: 20px;
    margin-top: 0px;
}
.simple-list{
    margin-top: -20px;
}
.flex-container{
    margin-left:22vh ;
    margin-right:25vh ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    column-gap: 30px;

}

.content-title{

    font-size: 1.2rem; 
    color:rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    
}
.content-description{
    font-size: 10px;
    color:rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.frame.select-frame{
    display: flex;
    width: 30vw;
    height: 75vh;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vertical-frame{
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.inputAmount{
    margin-inline: 20px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 4vh;
    outline: none;
}
.frame.result-frame{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 20vh;
    border-radius: 10px;
}
.frame.details-frame{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 50vw;
    height: 52vh;
    margin-top: 5px;
    margin-bottom: 0px;


}
select{
    border: solid 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 5vh;
    margin-inline: 20px;
    background-color: rgb(255, 255, 255,0);
    outline: none; 
}