
.details-table {
    background: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height: 40px;
    width: 780px;
}
.details-table thead th{           
    background-color:  rgb(255, 255, 255);
    color: #555;
    
    
    
}
.details-table th {
    background-color: #333; 
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
    font-size: 14px;

}

.details-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    color: #555;
    font-size: 12px;
    border-radius: 10px;
    width: 50px;
}
.details-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.details-table tr:hover {
    background-color: #f1f5f9;
}
.details-table .status-green{
    color:#A3D78A;
    font-weight:bold;
}
.details-table .status-red{
    color:#FF4646;
    font-weight:bold

}