.frame{
    background-color: #ffffff;
    width: 400px;
    height: 500px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(20,1.2rem);

    grid-column: 1;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.frame .title{
    color:rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.frame .obj1{
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
}
.frame .obj2{
    grid-column: 1;
    grid-row: 4;
    margin-top: 10px;
}


.frame select{
    grid-column: 1 / span 3;
    grid-row: 3;

}
.underLine{
    grid-column: 1 / span 3;
    grid-row: 5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.182);

}

.frame .simple-list  {
    font-size: 14px;
    padding: 10px;
    grid-column: 1;
    grid-row: 6;
}