
.list {
    margin: 0px;
    list-style: none;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 12px;
}
.list li {
    display: flex; 
    justify-content: space-between;

}
