
.stock-table {
    background: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height: 40px;
    width: 780px;
    border-collapse: collapse;  
    
}
.stock-table thead th{           
    background-color: #555;
    color: #ffffff;
}
.stock-table th {    
    background-color: #333; 
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
    font-size: 14px;
}
.stock-table td {
    padding: 10px 12px;
    color: #555;
    font-size: 12px;
    width: 50px;
}
.stock-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.stock-table tr:hover {
    background-color: #afcbf6a4;
    border-radius: 10px;
}

