.table-container {
    margin-left:20vh ;
    margin-right:25vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto; 
}
.custom-table {
    width: 100%;
    border-collapse: collapse; 
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    box-sizing: border-box; 
}
.custom-table th {
    background-color: #333; 
    color: white;
    text-align: left;
    padding: 12px 15px;
}
.custom-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    color: #555;
}
.custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.custom-table tr:hover {
    background-color: #f1f5f9;
}