.universal-button{
    display: flex;
    justify-items: center;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    height: 32px;
}
.universal-button-label.cancel{
    background-color: #F3F4F6;
    font-family: 'Noto Sans Thai', sans-serif;
    min-width: 60px;
    height: 32px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.universal-button-label.confirm{
    color: rgb(255, 255, 255);
    background-color: #059669;
    font-family: 'Noto Sans Thai', sans-serif;
    min-width: 60px;
    height: 32px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.universal-button.cancel :hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 200ms;
}
.universal-button.confirm :hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #045A3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 200ms;
}

