.img-button{
    display: flex;
    justify-items: center;
    border: none;
    background-color: transparent;

}
.img-button .tooltip{
    opacity: 1 ;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 0.8rem;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    border: none;
    border-radius: 10px;
    align-items: center;
    height: 32px;
    width: 6vw;
    align-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 300ms;
    background-color: rgb(251, 251, 251);
}
.img-button :hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #333
}
