.App{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(auto);

    gap: 20px 15px;
}
.header{
    grid-column: 1 / span 5;
    
}
.content{
    grid-column: 2 / span 4;
    grid-row: 3/ span 5;
}
