@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
html, body {
  height: 100%;
  margin: 0;
  background-color: #afcbf6; 
  font-family: 'Noto Sans Thai', sans-serif;
  overflow: hidden;
}
img {
  pointer-events: none;   /* ปิดการคลิก */
  user-drag: none;        /* สำหรับบาง browser */
  -webkit-user-drag: none; /* Safari/Chrome */
}