.history-body-container{
    overflow-y: scroll;
    height:80vh ;
    display: flex;
    justify-content: center;
    margin:20px 0px
}
.title{
    margin: 50px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}