.modal-overlay{
    left: 0;
    top:0;
    bottom:0 ;
    right: 0;
    position: absolute;
    background-color: #00000094;
}
.modal-content-frame{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 100%;
    justify-content: center;
    margin: 20px;
}

.modal-content .title{
    grid-column: 1 /span 2;
    font-size: 1.2rem; 
    color:rgba(0, 0, 0, 0.8);

}

.modal-content h5{
    font-size: 10px;
    color:rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.react-select-container{
    position: absolute;
    width: 300px;
    grid-column: 1 /span 3;
    grid-row: 2;
    margin-bottom: 50px;
}

.react-select__value-container{
}
.react-select__menu-list{
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 1fr;
}
.react-select__option--is-focused {
    background-color: #4e46e573 !important; /* เปลี่ยนสีที่ต้องการตอนชี้ */
    color: #333 !important;
}

/* 2. เมื่อกดเลือกไปแล้ว (Selected) */
.react-select__option--is-selected {
    background-color: #4f46e5   !important; /* สีตอนที่ถูกเลือกอยู่ */
    color: white !important;
}