.content{
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,30px);
    padding: 2px 20px;
    height: 500px;
    width: 72.5vw;
    background-color:#f0f4f6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-title{

    grid-column: 1 / span2;
    grid-row: 1;
    color:rgba(0, 0, 0, 0.8);
}