.content{
    
}
.title-container{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-left:22vh ;
    margin-right:25vh ;
    
}

.flex-container{
    margin-left:22vh ;
    margin-right:25vh ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    column-gap: 30px;

}

.content-title{

    font-size: 1.2rem; 
    color:rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    
}
.content-description{
    font-size: 10px;
    color:rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.frame.select-frame{
    display: flex;
    width: 30vw;
    height: 75vh;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vertical-frame{
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.frame.result-frame{
    box-sizing: border-box;
    display: flex;
    width: 50vw;
    height: 40vh;
    border-radius: 10px;


}
.frame.details-frame{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 30vh;

;

}
select{
    border: none;
    border-radius: 5px;
}
