.search-box input{
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: 10px;
    height: 32px;
    width: 20vw;
    align-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: 'Noto Sans Thai', sans-serif;
    text-indent: 15px;
}