.side-menu{
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;

    padding: 20px 10px;
    width: 300px;
    height: 88vh;
    border-radius: 10px;
    background-color:#f0f4f6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.description{
    margin-left: 55px;
    margin-top: 10px ;

    grid-column: 1 / span 4;
    grid-row: 2;
    color:rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.button-menu{
    grid-column: 1 / span 4;
    align-items: start;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(13,40px);
    padding: 10px 10px;
    gap: 10px;


}
.button-menu button{    
    border: none;                 
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 15px;
}